@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #0E8739;
}

body {
    font-family: 'PT Sans', sans-serif;
}

h1, h2 {
    font-family: 'Shadows Into Light', sans-serif ;
}

/* header text and nav links*/

.header-text {
    font-family:'Shadows Into Light', sans-serif ;
    text-transform: uppercase;
    color: #0E8739;
    float: left;
    position: relative;
    font-size: 300%;
    margin-left: 20px;
    
}

.active {
    border-bottom: #0E8739 solid 1px;
}

.header-text, #navigation-links {
    line-height: 75px;
}


#navigation-links > li {
    margin-right: 20px;
    margin-left: 20px;    
    list-style-type: none;
    color: #0E8739;
    text-transform: uppercase;
    font-family: 'Shadows Into Light', sans-serif;
    font-weight: 600;
    float: right;
}

li > a {
    text-decoration: none;
    font-size: 150%;
    color: #0E8739;
}

#navigation-links a:hover {
    border-bottom: 1px solid #0E8739;
}

/* hero image */

#hero-image {
        background-image: url('../images/three-males-playing-football.webp');
        background-position: 30%;
        zoom: 75%;
        height: 900px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 40px;
}

/* Who are we section */


#about-us {
    float: left;
    margin-left: 20%;
    margin-bottom: 150px;
    text-align: center;
    max-width: 400px;
    
}

#location {
    height: 150px;
    max-width: 400px;
    text-align: center;
    float: right;
    margin-right: 20%;
    margin-bottom: 50px;
}

#about-us > p {
    font-size: 150%;   
}

#about-us > h2 {
    font-size: 300%;
}

#location > h2 {
    font-size: 300%;
}

#location > p {
    line-height: 30px;
    font-size: 150%;
}

/* footer */

#footer {
    height: 50px;
    width: 100%;
    background-color: #0E8739;
    bottom: 0;
    clear: both;
    position: fixed;    
}

#social-links {
    text-align: center;
    font-size: 150%;
    margin-bottom: 0;  
}

#social-links > li {
    display: inline;
    text-align: center;
    margin-bottom: 0;
}

#social-links i {
    color: whitesmoke;
    margin-right: 100px;
}

/* gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    
    max-width: 100%;
    margin-bottom: 100px;
}

#gallery > img {
    max-width: 100%;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
}

/* booking form */

#book-with-us {
    min-width: 33%;
    background: #0E8739;
    height: 650px;
    margin-left: 15%;
    clear: right;
    text-align: center;
    border-radius: 10%;
    float: left;
    
}

.form-header {
    font-family: 'Shadows Into Light', sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: 300%;
}

.booking-form {
    text-align: center;
    font-size: 150%;
}

.booking-form > label {
    color: whitesmoke;
}

#date {
    padding: 12px;
    border-radius: 10%;
}

.lets-book {
    padding: 12px;
    border-radius: 10%;
    margin-top: 10px;
    border: solid 3px whitesmoke;
    font-weight: bold;
    font-size: 80%;
}

.reset-form {
    padding: 12px;
    border-radius: 10%;
    margin-top: 10px;
    border: solid 3px whitesmoke;
    font-weight: bold;
    font-size: 80%;
}

.lets-book:hover {
    background-color: #0E8739;
    color:whitesmoke;
}

.reset-form:hover {
    background-color: #0E8739;
    color:white;
}

#time {
    padding: 12px;
    border-radius: 10%;
    border: solid 3px whitesmoke;
}

/* enrol a team */

#enrol-a-team {
    float: right;
    min-width: 33%;
    background: #0E8739;
    height: 650px;
    margin-right: 15%;
    clear: right;
    text-align: center;
    border-radius: 10%;
}

/* league tables */

.table-headers {
    font-size: 200%;
    text-transform: uppercase;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #0E8739;
    text-transform: uppercase;
}

#under-16-table {
    clear: left;
    float: left;
    margin-left: 5%;
    text-align: center;
    max-width: 25%;
}

#under-16-league {
    border: 1px solid #0E8739;
}

#over-16-table {
    margin-left: 8%;
    float: left;
    text-align: center;
    max-width: 25%;
}

#over-16-league {
    border: 1px solid #0E8739;
}

#over-50-table {
    float: left;
    margin-left: 8%;
    text-align: center;
    max-width: 25%;
}

#over-50-league {
    border: 1px solid #0E8739;
}

/* media queries */

/* league tables screen size 1600px and down */

@media screen and (max-width: 1600px) {
    #under-16-table {
        margin-left: 15%;
    }
    
    #over-16-table {
        float: right;
        margin-right: 15%;
        clear: right;
    }
    
    #over-50-table {
        float: none;
        margin: auto;
        clear: both;
        margin-bottom: 150px;
    }
}

/* for screen sizes 1300px and down */

@media screen and (max-width: 1300px) {
    .header-text {
        font-size: 300%;
        margin-bottom: 0;
        margin-left: 20px
    }

    #navigation-links {
        float: left;
        clear: both;
        max-width: 100%;
        font-size: 100%;
    }

    #hero-image {
        zoom: 65%;
    }

    #about-us {
        clear: both;
        text-align: center;
        max-width: 50%;
        float: none;
        margin: auto;
    }

    #location {
        text-align: center;
        clear: both;
        max-width: 50%;
        float: none;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 200px;
    }

    #under-16-table {
        float: none;
        margin: auto;
        clear: both;
        margin-bottom: 30px;
        max-width: 60%;
    }

    #over-16-table {
        float: none;
        margin: auto;
        clear: both;
        margin-bottom: 30px;
        max-width: 60%;
    }

    #over-50-table {
        float: none;
        margin: auto;
        clear: both;
        margin-bottom: 150px;
        max-width: 60%;
    }

    #gallery {
        column-count: 3;
    }

    #book-with-us {
        float: none;
        margin: auto;
        clear: both;
        margin-bottom: 50px;
        max-width: 50%;
    }

    #enrol-a-team {
        float: none;
        margin: auto;
        clear: both;
        margin-bottom: 100px;
        max-width: 50%;
    }
}

/* for screen sizes 950px and below */

@media screen and (max-width: 950px) {

    #book-with-us {
        max-width: 80%;
    }

    #enrol-a-team {
        max-width: 80%;
    }
}

/* for screen sizes 600px and below */

@media screen and (max-width: 600px) {

    #header {
        margin-left: 10px;
    }

    .header-text {
        font-size: 200%;
        line-height: 30px;
        margin-bottom: 20px;
        
    }

    #navigation-links {
        font-size: 70%;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
        max-width: 100%;
        margin-left: 10px;
    }

    #hero-image {
        zoom: 55%;
    }

    #about-us {
        max-width: 95%;
    }

    #location {
        margin-bottom: 250px;
    }

    #social-links i {
        max-width: 100%;
        margin-right: 10px;
    }

    #under-16-table {
        margin-left: 35px;
    }

    #over-16-table {
        margin-left: 35px;
    }

    #over-50-table {
        margin-left: 35px;
    }

    #gallery {
        column-count: 2;
    }

    #book-with-us {
        max-width: 90%;
        max-height: fit-content;
    }

    #enrol-a-team {
        max-width: 90%;
        max-height: fit-content;
    }

}

@media screen and (max-width: 490px) {

    .header-text {
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #navigation-links {
        font-size: 50%;
        margin: auto;
    }

    #hero-image {
        zoom: 35%;
    }

    @media screen and (max-width: 390px) {

        .header-text {
            font-size: 130%;
        }

        #navigation-links {
            font-size: 30%;
        }
    }
}