@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'PT sans', sans-serif;
}

/* header text and nav links*/

.header-text {
    font-family:'Shadows Into Light', sans-serif ;
    text-transform: uppercase;
    color: green;
    float: left;
    position: relative;
    font-size: 300%;
    margin-left: 20px;
    }

.header-text, #navigation-links {
    line-height: 75px;
}


#navigation-links > li {
    display: inline-block;
    margin-right: 20px;    
    list-style-type: disc;
    color: green;
    text-transform: uppercase;
    font-family: 'Shadows Into Light', sans-serif;
    font-weight: 600;
    float: right;
}

li > a {
    text-decoration: none;
    color: green;
}



/* hero image */


